/* Details Form */
#contact-form {
    font-family: "Montserrat", sans-serif;
    color: black;
    margin: 2rem;
}

.form-item {
    margin: 2rem;
    size: 3rem;
    color: black;
}

.contact-img{
    height: 500px;
}

.side-1, .side-2{
    display: inline-block;
    width: 50vw;
}

.contact-form-container .form-item-container{
    padding-left: 0px;
}