/* Title Section */
.title-heading {
    font-family: "Alumni Sans", sans-serif;
    font-size: 8rem;
}

.main-img {
    width: 40rem;
    margin: 30px
}

.rotating-section {
    position: relative;
    height: 300px;
}

.section-2{
    background-color: #dbd7d79e;
    padding-bottom: 50px;
}

.card-img {
    float: center;
    height: 300px;
    object-fit: contain;
    padding: 25px;
}

.pub-title,
.pub-text{
    text-decoration: none;
    color: black;
}

/* Carousel Styles */
.carousel-caption{
    padding-top: 100px;
}

.d-block{
    border-radius: 10px;
}
/* Alumni Section */
#alumni .carousel-item {
    height: 32rem;
    background-size: cover;
  }
  
  #alumni .carousel-item img {
    height: 32rem;
  }
  
  #alumni .carousel-caption {
    bottom: 220px;
  }
  
  #alumni .carousel-caption h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  #alumni .carousel-caption p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  #alumni .carousel-caption .btn-primary {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 50px;
  }
  
  


/* ************************************************************ */

/* About Section */
.about-us .about-ico {
    padding: 10rem;
}

.about-us{
    text-align: justify;
    margin-left: 20px;
}

.about-icon {
    font-size: 10rem;
}

/* Service Section */
.progress-container {
    padding: 2rem;
    margin: 0 16rem 2rem 16rem;
    border: 3px solid #003366;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.progress-container:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
}

.counter {
    font-size: 30px;
}

.service-icon {
    font-size: 4rem;
}

.service-item {
    border: 3px solid #003366;
    padding: 1rem;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 1rem;
}

.service-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
    color: #003366;
}

/* Events Style */
.event-card {
    margin: 0.5rem;
}

.card {
    transition: transform 0.2s ease-out, box-shadow 0.3s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.carousel-inner{
    margin: 20px;
    padding: 20px;
    padding-bottom: 25px;
    border: 2px solid #003366;
    border-radius: 10px;
}

/* 
.item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.item.active {
    opacity: 1;
} */