body {
    
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bolder;
    text-align: center;
}



/* Navigation Bar */
.navbar {
    padding: 0 1rem 4.5rem;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
}

.nav-item {
    font-family: 'Alumni Sans', sans-serif;
    padding: 0 18px;
    letter-spacing: 2px;
}

.nav-link {
    font-size: 1.2rem;
}

