body{
    background-color: white;
    color: black;
}

li{
    text-align: left;
}

.serv-item{
    float: left;
    padding-top: 10px;
    margin-bottom: 10px;
    /* height: 350px; */
    background-color: white;
    border-radius: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.serv-item:hover{
    color: #003366;
    border: 2px solid #003366;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
}

.book-icon{
    color: white;
}

.fas{
    font-size: 40px;
    color: #003366;
}

.photo{
    text-align: center;
}

@media (max-width: 765px) {
    .serv-item{
        width: 90vw;
        display: inline;
    }
}
